@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap&family=Gugi");

/* ================== Theme =================== */
:root {
  --bg-color: hsl(224, 27%, 88%);
  --bg-color-transparent: hsl(224, 27%, 88%, 0.5);
  --bg-color-2: hsl(222, 6%, 56%);
  --main-color-1: hsl(240, 100%, 6%);
  --main-color-2: hsl(346.5, 100%, 50.4%);
  --bg-color-card: hsl(0, 0%, 96%);
  --text-color: hsla(240, 100%, 6%, 0.473);
  --black-transparent: hsla(0, 0%, 0%, 0.62);
}

/* ================== General =================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  position: relative;
}

/* =================== Reusable =================== */

.container {
  position: relative;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.heading {
  font-size: 4rem;
  font-family: "Gugi", cursive;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 1.5rem 0;
  line-height: 1.9rem;
}

.sub-heading {
  font-size: 1.8rem;
  font-weight: 300;
  border-left: 5px solid var(--main-color-2);
  margin-bottom: 0.8rem;
  padding: 0 0.8rem;
}

.cta-buttons {
  margin: 3rem 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  min-width: 130px;
  padding: 0.9rem 1.5rem;
  color: #fff;
  font-weight: 400;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--main-color-1);
  border: none;
  border-radius: 1.6rem;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--main-color-2);
}

.secondary-button {
  position: absolute;
  top: 15%;
  left: 4.3%;
  background-color: var(--bg-color);
  color: var(--main-color-1);
  border-radius: 1.5rem;
  box-shadow: 1px -1px 5px -1px rgba(0, 0, 0, 0.75) inset;
}

.secondary-button:hover {
  background-color: var(--bg-color);
}

.button-svg {
  position: relative;
  width: 180px;
  height: 70px;
}

.button-svg svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-svg svg path {
  fill: var(--bg-color);
  stroke: #aaaaaa;
  stroke-width: 10px;
  stroke: var(--main-color-2);
  stroke-linecap: round;
  stroke-dasharray: 457;
  stroke-dashoffset: 457;
}

.button-svg:hover path {
  animation: fillAround 0.5s ease-in-out forwards;
}

@keyframes fillAround {
  from {
  }
  to {
    stroke-dashoffset: 0;
  }
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}

footer {
  padding: 20px 0;
}

/* =================== Navigation Bar =================== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 1002;
  transition: 0.3s;
}

header.scroll {
  height: 90px;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.1);
  z-index: 1002;
}

nav.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-links {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-links ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu-links {
  position: relative;
  margin: 0 1.2 rem;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--main-color-1);
  opacity: 0.4;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-menu-links::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: var(--main-color-2);
  border-radius: 7px;
  transition: 0.3s all ease;
}

.nav-menu-links:hover,
.nav-menu-links.active {
  opacity: 1;
}

.nav-menu-links:hover::after,
.nav-menu-links.active::after {
  width: 100%;
}

.menu-hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  padding: 9px 0;
  cursor: pointer;
}

.menu-hamburger .line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color-1);
  border-radius: 4px;
  transition: 0.5s;
}

.menu-hamburger .line:nth-child(1) {
  top: 0;
}

.menu-hamburger .line:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

.menu-hamburger .line:nth-child(3) {
  bottom: 0;
}

.menu-hamburger.opened .line:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}

.menu-hamburger.opened .line:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}

.menu-hamburger.opened .line:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}

.menu-background {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-transparent);
  z-index: 1001;
}

/* =================== Section - HOME =================== */

section.home {
  position: relative;
  width: 100%;
  padding: 150px 0;
  overflow: hidden;
}

section.home .container {
  display: grid;
  grid-template-columns: 1fr 450px;
  align-items: center;
  max-height: 550px;
  height: calc(100vh - 100px);
  margin-bottom: 120px;
}

.developer-image {
  position: relative;
  display: block;
  /* width: 100%; */
  height: 100%;
  z-index: 1001;
}

.developer-image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.developer-image .developer {
  z-index: 5;
}

.developer-image .polygon {
  z-index: 4;
}

/* =================== Section - About me =================== */

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.about-gallery {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-image-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.gallery-control {
  flex: 1 0.22 auto;
}

.about-image-list img {
  max-width: 150px;
  border-radius: 1rem;
}

.about-selected {
  position: relative;
  cursor: pointer;
}

.about-selected .selected-img {
  border: 2px solid var(--bg-color-card);
  background-color: var(--bg-color-card);
  border-radius: 1rem;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.75);
}

.about-selected-comment {
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: transparent;
  background-color: var(--bg-color-card);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 0.9;
  transition: 0.34s;
}

.about-selected-comment-card {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  overflow: hidden;
}

.about-selected .information {
  position: absolute;
  top: -48px;
  right: 0;
  background-color: var(--bg-color-card);
  border-radius: 2rem;
  width: 38px;
  margin-right: 0.5rem;
}

.about-selected-comment-card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 100%;
  color: var(--main-color-1);
  text-align: center;
  margin: 0;
}

.about-selected:hover .about-selected-comment,
.about-selected .about-selected-comment.active {
  height: 40%;
}

.about-image {
  cursor: pointer;
}

.about-image img,
.about-selected .selected-img {
  width: 100%;
  border-radius: 1rem;
}

.about-image.selected img {
  border: 2px solid var(--bg-color-card);
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.75);
}

.arrow-left svg,
.arrow-right svg {
  cursor: pointer;
  transition: all 0.5s;
  transform: rotate(-90deg);
}

.arrow-left:hover svg,
.arrow-right:hover svg {
  transform: scale(1.3, 1.3) rotate(-90deg);
}

.about-text {
  width: 100%;
  max-width: 600px;
  background-color: var(--bg-color-card);
  padding: 2rem 3rem;
  border-radius: 2rem;
}

.about-selected-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-transparent);
  z-index: 10000;
}

.about-selected-close {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40px;
  opacity: 0.7;
  z-index: 10002;
  background-color: var(--bg-color-card);
  border-radius: 3rem;
  cursor: pointer;
}

.about-selected.arrow-left-bigger,
.about-selected.arrow-right-bigger {
  position: absolute;
  background-color: var(--bg-color-card);
  border-radius: 3rem;
  opacity: 0.7;
  z-index: 10004;
}

.about-selected.arrow-left-bigger {
  left: -80px;
}

.about-selected.arrow-right-bigger {
  right: -80px;
}

.about-selected-close:hover,
.about-selected.arrow-left-bigger:hover,
.about-selected.arrow-right-bigger:hover {
  opacity: 1;
}

.about-selected-container {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 10001;
}

img.about-selected-image-bigger {
  position: relative;
  max-width: 1240px;
}

.about-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  transform: scale(1);
}

.about-logos img:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease;
  filter: brightness(50%);
}

/* =================== Section - Experience =================== */

.experience-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 1rem 2rem;
  gap: 1rem;
}

.experience-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
  border: 8px solid white;
  border-radius: 2rem;
  transition: 1s;
}

.experience-card h2 {
  font-weight: 400;
  margin: 1rem;
}

.experience-card ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.experience-card li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 190px;
  min-height: 2rem;
  padding: 0.8rem 1rem;
  border: 4px solid #fff;
  border-radius: 2rem;
  background-color: var(--main-color-1);
  color: #fff;
  transition: 0.5s;
}

.experience-card li:hover,
.experience-card li:focus {
  transform: scale(1.3);
}

.experience-field {
  position: relative;
  max-width: auto;
}

/* =================== Section - Projects =================== */

.projects-box {
  position: relative;
  width: 100%;
  background-color: var(--bg-color-card);
  padding: 2rem 3rem;
  border-radius: 2rem;
}

.project-box-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 3rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 180px;
  align-items: center;
}

.project-progress {
  position: relative;
  width: 180px;
  height: 180px;
}

.project-progress img {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.project-progress:hover img,
.project-progress:active img {
  visibility: visible;
  opacity: 0.8;
  z-index: 10;
}

.project-progress:hover svg,
.project-progress:hover .counter {
  opacity: 0;
  cursor: pointer;
}

.project-progress svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.project-progress svg circle {
  fill: var(--bg-color-card);
  stroke-width: 8px;
  stroke: var(--main-color-2);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

@keyframes fillprogress {
  from {
  }
  to {
    stroke-dashoffset: var(--target);
  }
}

.project-progress .counter {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: var(--main-color-1);
  transform: translate(-50%, -50%);
}

.project-progress .counter span {
  font-size: 3rem;
}

.project-title {
  margin-top: 1rem;
  color: var(--main-color-1);
  font-size: 1.3rem;
  text-align: center;
}

/* =================== Section - Contact me =================== */

.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.mail {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--main-color-2);
  font-weight: 400;
  font-size: 1.2rem;
  transition: 0.5s;
}

.mail img {
  width: 20px;
}

.mail:hover {
  gap: 2rem;
}

.mail::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: var(--main-color-2);
  border-radius: 7px;
  transition: 0.3s all ease;
}

.mail:hover::after {
  width: 258px;
}

.contact-form {
  background-color: var(--bg-color-card);
  border-radius: 2rem;
  padding: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1.5rem;
}

.contact-form h2 {
  color: var(--main-color-1);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 0.9;
  margin-bottom: 0.5rem;
}

.form-input {
  display: inline-block;
  width: 100%;
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
}

.form-input:hover {
  outline: #dddddd solid 2px;
}

.form-input:focus,
.form-input:active {
  outline: #7e7e7e solid 2px;
}

.form-input::placeholder {
  color: var(--text-color);
}

textarea.form-input {
  min-height: 200px;
  resize: none;
}

/* =================== Footer =================== */

.footer-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  transform: scale(1);
}

.footer-logos img:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease;
  filter: brightness(50%);
}

/* ===================================================== */
/* =================== 1024px screen =================== */
/* ===================================================== */

@media (max-width: 1024px) {
  /* ============= General ============== */
  .heading {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0.9rem 0;
  }

  .button {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    min-width: 120px;
  }

  .button-svg {
    width: 150px;
  }

  .button-svg path {
    transform: scale(0.85) translate(5px, 16px);
  }

  .secondary-button {
    top: 21%;
    left: 4.3%;
  }

  .nav-menu-links {
    font-size: 0.8rem;
  }

  section {
    padding: 100px 0;
  }

  /* ============= Section - HOME ============== */

  section.home .container {
    grid-template-columns: 1fr 350px;
    max-height: 440px;
    margin-bottom: 0;
    gap: 2rem;
  }

  /* ============= Section - About me ============== */

  section.about .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
  }

  .about-gallery {
    grid-row: 2 / span 1;
  }

  .about-text {
    max-width: none;
    grid-row: 1 / span 1;
  }

  .developer-info {
    position: relative;
  }

  .about-selected.arrow-left-bigger,
  .about-selected.arrow-right-bigger,
  .about-selected-close {
    transform: scale(0.7);
  }

  .about-selected.arrow-left-bigger {
    left: -12%;
  }

  .about-selected.arrow-right-bigger {
    right: -12%;
  }

  .about-image-list .arrow-left svg,
  .about-image-list .arrow-right svg {
    width: 40px;
    height: 40px;
  }

  .about-selected:hover .about-selected-comment {
    height: 0;
  }

  .about-selected .about-selected-comment.active {
    height: 20%;
  }

  .about-logos {
    gap: 1rem;
  }

  /* ============= Section - Experience ============== */

  .experience-card {
    padding: 1rem 2rem;
  }

  .experience-card h2 {
    font-size: 1.5rem;
    margin: 0 0 0.7rem;
  }

  .experience-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
  }

  .experience-card ul {
    gap: 2rem;
    row-gap: 1rem;
  }

  .experience-card li {
    font-size: 1rem;
    min-width: 150px;
    padding: 0.5rem 0.7rem;
  }

  /* ============= Section - Projects ============== */

  .project-box-stats {
    gap: 1rem;
    margin-top: 1rem;
  }

  .project {
    transform: scale(0.8);
    max-width: 180px;
  }

  .project-progress {
    width: 150px;
    height: 150px;
  }

  .project-progress svg circle {
    transform: translate(-15px, -15px);
  }

  /* ============= Section - Contact me ============== */

  .contact .container {
    margin-bottom: 150px;
    gap: 2rem;
  }

  .mail:hover::after {
    width: 260px;
  }

  .contact-form {
    padding: 2rem;
  }

  .contact-form h2 {
    font-size: 1.1rem;
  }

  .form-input {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.8rem;
  }
}

/* ===================================================== */
/* =================== 768px screen ==================== */
/* ===================================================== */

@media (max-width: 768px) {
  /* ============= Navigation Bar ============== */
  header,
  header.scroll {
    background-color: var(--bg-color-card);
    height: 80px;
  }

  nav.container {
    position: relative;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-hamburger {
    display: block;
    margin: 1rem 0;
  }

  .menu-links {
    flex-direction: column;
    position: absolute;
    right: -300px;
    top: 80px;
    height: 100vh;
    background-color: var(--bg-color);
    transition: 0.5s;
  }

  header.scroll .menu-links {
    top: 80px;
  }

  .menu-links.opened {
    right: 0px;
  }

  .menu-links ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    margin-right: 3rem;
  }

  .menu-links li a {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .menu-background {
    visibility: visible;
  }

  /* =================== Section - HOME =================== */

  section.home {
    min-height: 1050px;
  }

  section.home .container {
    grid-template-columns: 1fr;
    grid-template-rows: 420px 0.5fr;
  }

  /* =================== Section - About me =================== */

  .developer-info {
    grid-row: 2 / span 1;
  }

  .developer-image {
    grid-row: 1 / span 1;
  }

  .developer-image img {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 350px;
  }

  .about-selected:hover .about-selected-comment {
    height: 0;
  }

  .about-selected .about-selected-comment.active {
    height: 55%;
  }

  .about-selected.arrow-left-bigger,
  .about-selected.arrow-right-bigger,
  .about-selected-close {
    transform: scale(0.7);
  }

  .about-selected.arrow-left-bigger {
    left: 0%;
  }

  .about-selected.arrow-right-bigger {
    right: 0%;
  }

  /* =================== Section - Contact me =================== */

  section.contact .container {
    grid-template-columns: auto;
    grid-template-rows: 300px auto;
    margin-bottom: 0;
  }

  .mail:hover::after {
    width: 258px;
  }
}

/* ===================================================== */
/* =================== 480px screen ==================== */
/* ===================================================== */

@media (max-width: 480px) {
}
