@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap&family=Gugi");

/* ================== Theme =================== */
:root {
  --bg-color: hsl(224, 27%, 88%);
  --bg-color-transparent: hsl(224, 27%, 88%, 0.5);
  --main-color-1: hsl(240, 100%, 6%);
  --main-color-2: hsl(346.5, 100%, 50.4%);
  --bg-color-card: hsl(0, 0%, 96%);
}

/* ================== General =================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* =================== Reusable =================== */

.container {
  position: relative;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.heading {
  font-size: 4rem;
  font-family: "Gugi", cursive;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 1.5rem 0;
}

.sub-heading {
  font-size: 1.8rem;
  font-weight: 300;
  border-left: 5px solid var(--main-color-2);
  margin-bottom: 0.8rem;
  padding: 0 0.8rem;
}

.cta-buttons {
  margin: 3rem 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  min-width: 130px;
  padding: 0.9rem 1.5rem;
  color: #fff;
  background-color: var(--main-color-1);
  border-radius: 1.6rem;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--main-color-2);
}

.secondary-button {
  position: relative;
  top: 15%;
  left: 4.3%;
  background-color: var(--bg-color);
  color: var(--main-color-1);
  border-radius: 1.5rem;
  box-shadow: 1px -1px 5px -1px rgba(0, 0, 0, 0.75) inset;
}

.secondary-button:hover {
  background-color: var(--bg-color);
}

.button-svg {
  margin-left: 10px;
  width: 180px;
  height: 70px;
  position: relative;
}

.button-svg svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-svg svg path {
  fill: var(--bg-color);
  stroke: #aaaaaa;
  stroke-width: 8px;
  stroke: var(--main-color-2);
  stroke-linecap: round;
  stroke-dasharray: 457;
  stroke-dashoffset: 457;
}

.button-svg:hover path {
  animation: fillAround 0.5s ease-in-out forwards;
}

@keyframes fillAround {
  from {
  }
  to {
    stroke-dashoffset: 0;
  }
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}

/* =================== Navigation Bar =================== */

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 100%;
  height: 120px;
  z-index: 1000;
  transition: 0.3s;
}

header.scroll {
  height: 90px;
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.1);
  z-index: 1002;
}

nav.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-links {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-links ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu-links {
  position: relative;
  margin: 0 1.2 rem;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--main-color-1);
  opacity: 0.4;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-menu-links::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: var(--main-color-2);
  border-radius: 7px;
  transition: 0.3s all ease;
}

.nav-menu-links:hover,
.nav-menu-links.active {
  opacity: 1;
}

.nav-menu-links:hover::after,
.nav-menu-links.active::after {
  width: 100%;
}
/* =================== Section - HOME =================== */

section.home {
  position: relative;
  width: 100%;
  padding: 150px 0;
  overflow: hidden;
}

section.home .container {
  display: grid;
  grid-template-columns: 1fr 500px;
  align-items: center;
  max-height: 550px;
  height: calc(100vh - 100px);
  margin-bottom: 120px;
}

.developer-image {
  position: relative;
  width: 100%;
  min-height: calc(100% + 100px);
  margin-top: 150px;
  z-index: 1001;
}

.developer-image img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.developer-image .developer {
  z-index: 5;
}

.developer-image .polygon {
  z-index: 4;
}

/* =================== About me =================== */

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about-gallery {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-image-list {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.about-image-list img {
  max-width: 150px;
  border-radius: 1rem;
}

.about-selected {
  position: relative;
}

.about-selected img {
  border: 2px solid var(--bg-color-card);
  background-color: var(--bg-color-card);
  border-radius: 1rem;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.75);
}

.about-selected-comment {
  position: absolute;
  bottom: 0.25rem;
  left: 0;
  width: 100%;
  height: 0;
  margin: 0;
  padding: auto 0;
  background-color: #ffffffb4;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.26s ease;
}

.about-selected:hover .about-selected-comment {
  height: 100px;
  transform: scaleY(1);
}

.about-selected-comment p {
  position: relative;
  bottom: 10%;
  text-align: center;
}

.about-image {
  cursor: pointer;
}

.about-image img,
.about-selected img {
  width: 100%;
  border-radius: 1rem;
}

.about-image.selected img {
  border: 2px solid var(--bg-color-card);
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.75);
}

.arrow-up svg,
.arrow-down svg {
  cursor: pointer;
  transition: all 0.5s;
  transform: rotate(-90deg);
}

.arrow-up:hover svg,
.arrow-down:hover svg {
  transform: scale(1.3, 1.3) rotate(-90deg);
}

.about-text {
  width: 100%;
  max-width: 600px;
  background-color: var(--bg-color-card);
  padding: 2rem 3rem;
  border-radius: 2rem;
}

/* =================== Experience =================== */

.experience-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0 2rem;
  gap: 2rem;
}

.experience-card {
  border-radius: 2rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.experience-card h2 {
  font-weight: 300;
  margin-bottom: 1rem;
}

.experience-card ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.experience-card li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 190px;
  min-height: 2rem;
  padding: 0.8rem 1rem;
  background-color: var(--main-color-1);
  border: 4px solid #fff;
  border-radius: 2rem;
  color: #fff;
}

/* =================== Projects =================== */

.projects-box {
  position: relative;
  width: 100%;
  background-color: var(--bg-color-card);
  padding: 2rem 3rem;
  border-radius: 2rem;
}

.project-box-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-progress {
  position: relative;
  width: 180px;
  height: 180px;
}

.project-progress img {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.project-progress:hover img {
  visibility: visible;
  opacity: 0.8;
}

.project-progress:hover svg,
.project-progress:hover .counter {
  visibility: hidden;
}

.project-progress svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.project-progress svg circle {
  fill: var(--bg-color-card);
  stroke-width: 8px;
  stroke: var(--main-color-2);
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

@keyframes fillprogress {
  from {
  }
  to {
    stroke-dashoffset: var(--target);
  }
}

.project-progress .counter {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: var(--main-color-1);
  transform: translate(-50%, -50%);
}

.project-progress .counter span {
  font-size: 3rem;
}

.project-title {
  margin-top: 1rem;
  color: var(--main-color-1);
  font-size: 1.3rem;
}
